body{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

header{
	background-color: #F84323;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1 h2{
	font-family: 'Press Start 2P', cursive;

/*header styles*/

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 160px;
	border: 10px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%
}

h2{
	font-size: 30px;
	color: #F84323;
}

p{

}

a{
	color: #F84323;
}
a:hover{
	color: white;
	background-color: #F79D8D;
}

footer{
	background-color: #F84323;
	text-align: center;
	color: white;
	padding: 10px;
}

footer p{
	margin 0;
}

footer a{
	color: white;
}

footer a:hover{
	color: #F79D8D;
	background-color: #F84323; 
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0px;
}
